/* COMMON STYLES */

:root {
  --white: #fff;
  --white-translucent: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-translucent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansRegular.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/NeuchaRegular.woff2") format("woff2");
}

html {
  height: 100%;
  margin: 0;
  padding: 0;

  font: 16px/1.6 "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
}

a {
  color: var(--dark);
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
}

.text-orange {
  color: var(--primary);
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

.vp-100 {
  padding: 100px 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  height: 100%;

  background-image: url("../assets/images/primary-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.video,
.section-img-wrapper img {
  filter: drop-shadow(0 16px 32px #00000026);
}

.section-img-wrapper img {
  width: 100%;
  height: 100%;

  vertical-align: middle;
}

.section-img-wrapper {
  justify-self: end;
}

.section-top {
  display: grid;

  grid-template-columns: 1fr 500px;

  gap: 30px;
}

.section-promo {
  max-width: 500px;
}

.section-title {
  margin-bottom: 30px;
}

.section-subtitle {
  color: var(--dark-translucent);

  font-family: Neucha, sans-serif;
}

.section-text {
  font-size: 34px;
  font-family: Neucha, sans-serif;
}

.section-about {
  position: relative;

  z-index: 10;

  display: block;

  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  text-transform: uppercase;
}

.section-description {
  break-inside: avoid;
}

/* OTHER STYLES */

/* header */

iframe {
  border: 0;
}

.header {
  position: relative;

  height: 100%;
}

.header,
.effect,
.distortions,
.planning {
  background-color: var(--light);
}

.header-top {
  position: relative;

  display: flex;

  margin-bottom: 185px;
}

.header-title {
  z-index: 5;
}

.header-image-wrapper {
  position: absolute;

  top: -50px;
  right: -165px;

  height: 525px;
}

.header-image {
  width: 100%;
  height: 100%;
}

.header-promo {
  position: relative;

  margin: 0 0 25px;

  line-height: 26px;

  break-inside: avoid;
}

.header-promo:first-child {
  break-after: column;
}

.header-detailed {
  position: relative;

  z-index: 10;

  display: inline-block;
  margin-top: 15px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--primary);

  cursor: pointer;
}

.header-detailed:hover {
  position: relative;

  z-index: 1;

  background-color: var(--primary-hover);
}

/* main */

.main-title {
  margin-bottom: 30px;

  text-align: center;
}

.main-subtitle {
  margin-bottom: 30px;

  color: var(--dark);
  text-align: center;
}

.main-video-wrapper {
  display: flex;
  justify-content: center;
}

.section .video {
  z-index: 1;

  margin-bottom: -300px;
}

.navigation {
  margin-top: 100px;

  background-color: var(--primary-dark);
}

.navigation-title {
  margin: 0;

  font-size: 52px;
  font-family: Neucha, sans-serif;

  line-height: 62px;
}

.navigation-list {
  display: grid;
  row-gap: 20px;

  grid-template-columns: repeat(3, 1fr);

  padding-top: 100px;

  column-gap: 30px;
}

.navigation-item {
  padding: 24px;

  background-color: var(--white);
}

.navigation-item:first-child {
  padding: 0;

  background-color: var(--primary-dark);
}

.navigation-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.navigation-subtitle {
  margin-bottom: 16px;

  font-size: 34px;
  font-family: Neucha, sans-serif;
}

.navigation-item:hover,
.navigation-item:hover .navigation-subtitle {
  color: var(--white);
}

.navigation-item:hover:not(:first-child) {
  background-color: var(--primary);
}

.effect,
.optimization,
.distortions,
.depreciation,
.planning {
  position: relative;
}

.optimization,
.depreciation {
  background-color: var(--brown);
}

.optimization .section-about,
.depreciation .section-about {
  color: var(--brown);

  background-color: var(--white);
}

.effect .section-about,
.distortions .section-about,
.planning .section-about {
  color: var(--white);

  background-color: var(--brown);
}

.optimization .section-description,
.depreciation .section-description {
  color: var(--white);
}

.optimization .section-subtitle,
.depreciation .section-subtitle {
  color: var(--white-translucent);
}

.optimization .section-title,
.optimization .section-text,
.depreciation .section-title,
.depreciation .section-text {
  color: var(--white);
}

.optimization .section-top,
.depreciation .section-top {
  grid-template-columns: 500px 1fr;
}

.footer-top {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 55px;

  background-color: var(--primary-dark);
}

.footer-mail {
  display: inline-block;

  margin-bottom: 10px;

  font-size: 18px;
}

.footer-subscribe {
  font-size: 12px;
}

.footer-title {
  width: 50%;
}

.footer-title,
.footer-subscribe,
.footer-mail,
.footer-subscribe-link {
  color: var(--white);
}

.footer-subscribe-link,
.footer-article-link,
.footer-hexlet-link {
  text-decoration: underline;
}

.footer-article-link,
.footer-hexlet-link {
  color: var(--blue);
}

.footer-bottom {
  display: flex;

  flex-direction: column;
  align-items: center;

  margin-top: 60px;
}

.footer-bottom span {
  margin-bottom: 16px;
}

.footer-wrapper {
  width: 50%;
}

.footer-input-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
}

.footer-input {
  box-sizing: border-box;

  width: 100%;
  height: 50px;

  padding: 15px;
}

.footer-input::placeholder {
  color: #757575;
}

.footer-input-wrapper::before {
  position: absolute;

  top: 0;
  right: 0;

  width: 70px;
  height: 50px;

  background-color: var(--primary);
  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  content: "";
}

.footer-input-wrapper:hover::before {
  background-color: var(--primary-hover);
}
