/* common styles */
:root {
  --white: #fff;
  --white-translucent: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-translucent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansRegular.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/NeuchaRegular.woff2") format("woff2");
}

html {
  height: 100%;
  margin: 0;
  padding: 0;

  font: 16px/1.6 "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  color: #2a2626;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.text-orange {
  color: var(--primary);
}

.text-dark {
  color: var(--dark);
}

.vp-100 {
  padding: 100px 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
}

.bg::before {
  position: absolute;

  width: 100%;

  height: 100%;

  background-image: url("../assets/images/primary-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

/* other styles */

.header {
  height: 100%;

  background-color: var(--light);
}

.header-top {
  position: relative;

  display: flex;

  margin-bottom: 185px;
}

.header-title {
  z-index: 5;
}

.header-image-wrapper {
  position: absolute;

  top: -55px;
  right: -170px;

  height: 525px;
}

.header-image {
  width: 100%;
  height: 100%;
}

.header-promo {
  position: relative;

  margin: 0 0 25px;

  line-height: 26px;

  break-inside: avoid;
}

.header-promo:first-child {
  break-after: column;
}

.header-detailed {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;

  background-color: var(--primary);
}

.header-detailed:hover {
  background-color: var(--primary-hover);
}
